<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AdorableURL</servlet-name>
		<servlet-class>com.adorableurl.web.AdorableURLServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteAll</servlet-name>
		<servlet-class>com.adorableurl.web.DeleteAllUrlsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdorableURL</servlet-name>
		<url-pattern>/adorable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteAll</servlet-name>
		<url-pattern>/delete/all</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/adorable</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/delete/all</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
